<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 每天生成一个log文件 -->
			<FileNamePattern>log/log.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<!-- 显示的内容 -->
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<!-- 只对info以上有效 -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
	<!-- 这个是对mybatis的sqlr打印 -->
	<logger name="com.example.demo.mapper" level="DEBUG"></logger>
</configuration>